## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [75]:
# Your code here
sample_list_1 = random.sample(range(100),k=80)

print(sample_list_1)

[88, 23, 51, 92, 62, 10, 99, 13, 17, 82, 75, 58, 22, 28, 42, 16, 2, 64, 38, 14, 47, 48, 6, 97, 40, 26, 24, 90, 45, 96, 18, 20, 78, 76, 91, 3, 25, 61, 71, 19, 44, 54, 69, 34, 84, 15, 79, 85, 43, 55, 27, 57, 83, 72, 36, 12, 65, 80, 4, 89, 41, 67, 98, 33, 46, 9, 5, 50, 68, 77, 60, 7, 95, 49, 56, 66, 73, 70, 59, 94]
None

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [81]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [47]:
# Your code here
sample_list_2 = []
string = ""
integ = 0;

for i in range(0,80):
    sample_list_2.append( int( random.sample( range(100),k=1 )[0] ) )
print(sample_list_2)

[93, 13, 45, 20, 30, 0, 29, 3, 38, 52, 67, 19, 98, 46, 99, 97, 76, 93, 23, 19, 18, 29, 20, 29, 37, 5, 56, 70, 21, 13, 67, 19, 57, 47, 33, 47, 67, 40, 23, 12, 49, 73, 44, 16, 24, 0, 12, 10, 41, 89, 67, 90, 9, 16, 16, 6, 22, 72, 13, 35, 12, 79, 82, 76, 96, 4, 57, 38, 78, 18, 41, 81, 19, 50, 0, 44, 59, 82, 71, 60]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [48]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [49]:
# Your code here
set3 = []
set3 = set1.difference(set2)
print(set3)

{1, 2, 7, 8, 11, 14, 15, 17, 25, 26, 27, 28, 31, 32, 36, 39, 42, 43, 48, 51, 53, 54, 58, 61, 63, 64, 65, 66, 68, 74, 75, 77, 80, 83, 84, 87, 91, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [50]:
# Your code here
set4 = []
set4 = set2.difference(set1)
print(set4)

{3, 38, 79, 18, 19, 20, 21, 50, 23, 52, 89}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [53]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 4, 5, 6, 9, 10, 12, 13, 16, 22, 24, 29, 30, 33, 35, 37, 40, 41, 44, 45, 46, 47, 49, 56, 57, 59, 60, 67, 70, 71, 72, 73, 76, 78, 81, 82, 90, 93, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here
#
#
#HAVE DOUBT IN THIS ONE
#
#
# Relation is that  set1+ set2 is the entire universe
len(set1) + len(set2)
# set3 is a subset of set1 that does not include values of set2
len(set3) = len(set1.difference(set2)) 
# set4 is a subset of set2 that does not include values of set1
len(set4) = len(set2.difference(set1)) 
# set5 is the intersection of set1 and set2
len(set1) = len(set1.intersection(set2))

#### Create an empty set called `set6`.

In [73]:
# Your code here
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [74]:
# Your code here
set6 = set(set6)
set6.update(set3)
set6.update(set5)
set6

{0,
 1,
 2,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 22,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 87,
 90,
 91,
 93,
 94,
 96,
 97,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [72]:
# Your code here
if len(set1.intersection(set6)) == 0:
    print("son iguales")
else:
    print("son diferentes")

son diferentes

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [77]:
# Your code here
if set2.issubset(set1):
    print("es subset")
else:
    print("NO es subset")

if set3.issubset(set1):
    print("subset1 contiene subset3")
else:
    print("subset1 NO contiene subset3")

NO es subset
subset1 contiene subset3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [95]:
# Your code here
#
#
#HAVE DOUBT IN THIS ONE
#
#
set_new = set3.union(set4).union(set5)
set_new = set_new.union(set1).union(set2)
print(set_new)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [85]:
# Your code here
set1 = list(set1)
set1.pop(0)
set1 = set(set1)
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [92]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
copy_set1 = set1.copy()
print("original set")
print(copy_set1)
print("-"*40)
for set1_values in set1:
    if set1_values in list_to_remove:
        copy_set1.remove(set1_values)
        print("value removed = ",set1_values)
print("-"*40)
print("Updated set")
print(copy_set1)

original set
{3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 33, 34, 36, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}
----------------------------------------
value removed =  19
value removed =  41
value removed =  49
value removed =  51
value removed =  59
value removed =  61
value removed =  69
value removed =  71
value removed =  79
value removed =  89
value removed =  91
value removed =  99
----------------------------------------
Updated set
{3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 33, 34, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 83, 84, 85, 88, 90, 92, 94, 95, 96, 97, 98}